<html>
  <body>

<div class='split-pane col-xs-12 col-sm-6 uiux-side'>
    <div>
      <img src='https://bit.ly/bcr-dev'>
      <div class='text-content'>
        <div class="bold">Fill the</div>
        <div class='big'>Employee Details</div>
      </div>
        <button router-link="/owner/owners">
       MANAGE WORK
      </button>
    </div>
  </div>
  <div class='split-pane col-xs-12 col-sm-6 frontend-side'>
    <div>
      <img src='https://bit.ly/BCR-design'>
      <div class='text-content'>
        <div class="bold">Review the</div>
        <div class='big'>Employee Details</div>
      </div>
      <button router-link="/owner/create">
        MANAGE PEOPLE
      </button>
    </div>
  </div>
  
  </body>
 </html>